speechrecognition
pyttsx3
pyaudio
simpleaudio
wikipedia
requests
deep-translator
PyDictionary
feedparser
youtubesearchpython
numpy
psutil
pillow
plyer
pyautogui
flask
flask-cors
streamlit
streamlit-webrtc
streamlit-float
pvporcupine
pvrecorder
psycopg2-binary
pystray
pywin32
